
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
            min-width: 1200px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 133px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 150px;
        }
        
        .silex-id-1495640816261-0 {
            min-height: 100px;
            width: 581px;
            top: 15px;
            left: 25px;
        }
        
        .silex-id-1474394621033-3 {
            top: 51px;
            left: 0px;
            min-width: 1200px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 844px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 150px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
    